body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

nav {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li button:hover {
  background-color: #0056b3;
}

li {
  display: inline;
  margin-right: 20px;
}

.game-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flag-image {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
}
.options-container {
  width: 40%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
}

.option-button:hover {
  background-color: #0056b3;
}

.score-container {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  font-size: 18px;
  color: #333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container span {
  font-weight: bold;
  margin-left: 5px;
  text-align: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.background-dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* Settings Menu */
.settings-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.settings-header h2 {
  margin: 0;
}

.settings-header button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.settings-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-content label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-content select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.settings-content select:focus {
  outline: none;
  border-color: #007bff;
}

.settings-content select option {
  padding: 5px;
}

.settings-content input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.settings-content input[type="range"] {
  width: 100%;
}

.timer-duration-container {
  position: relative;
  width: 100%;
  padding-top: 20px;
}

#timer-duration-value {
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  font-weight: bold;
  pointer-events: none;
}

.red-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hover uniquement le bouton de réinitialisation */
.red-button:hover {
  background-color: #c82333;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: #636363;
}

.loading-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.loading-progress {
  width: 0;
  height: 20px;
  background-color: #007bff;
  transition: width 0.5s ease;
  border-radius: 8px;
}
